[submodule "digicred/traction"]
	path = digicred/traction
	url = git@github.com:DigiCred-Holdings/traction.git
[submodule "digicred/base-controller"]
	path = digicred/base-controller
	url = git@github.com:DigiCred-Holdings/base-controller.git
